.cancelbtn {
    padding: 4px 2px;
    background-color: red;
}
.loginButton{
    padding: 4px 2px;
    background-color: green;
}
.loginButton, .cancelbtn{
    float: left;
    width: 4%;
    border-radius: 5px; 
    margin: 3px;
    right: 50%;
}

.cancelbtn{
    position: absolute;
    right: 20%;
    top: 11%;
}

.loginButton{
    position: absolute;
    right: 25%;
    top: 11%;
}